* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 15px 15px;
    margin: 15px;
    background-color: rgba(174, 236, 236, 0.774);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: #262626;
    -webkit-box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
    -moz-box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
    box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
}

button:hover {
    cursor: pointer;
    border: none;
    outline:none;
}

button:focus, button:active {
    outline:none;
}

button:active {
    animation: buttonClicked 0.2s;
}

.showcase {
    padding: 50px 20px;
    background-color: rgba(194, 173, 146, 0.486);
    border-radius: 20px;
    -webkit-box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
    -moz-box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
    box-shadow: 7px 10px 12px -9px rgba(3,3,3,0.68);
}
.showcase h1 {
    font-size: 22px;
    margin-bottom: 60px;
}

.showcase .rounds-selection {
    margin-bottom: 15px;
    transition: all 1s ease-in-out;
}
.showcase .rounds-selection input {
    padding: 10px;
    width: 80px;
    border-radius: 50px;
    text-align: center;
}

.showcase .play {
    background: rgba(248, 129, 129, 0.582);
    transition: all 1s ease-in-out;
}

.showcase .options {
    display: none;
}

.showcase .results {
    background: rgb(240, 239, 239);
    width: 70%;
    margin: 15px auto;
    padding: 30px 10px;
    -webkit-box-shadow: inset 5px 5px 10px -6px rgba(3,3,3,0.68);
    -moz-box-shadow: inset 5px 5px 10px -6px rgba(3,3,3,0.68);
    box-shadow: inset 5px 5px 10px -6px rgba(3,3,3,0.68);
}

.showcase .results .counts {
    position: relative;
    bottom: -20px;
    color: #9c9c9c;
}

.show {
    display: block!important;
}

.hide {
    display: none!important;
}

.text-success {
    color: rgb(0, 233, 31);
}

.text-warning {
    color: red;
}

@keyframes buttonClicked {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}